# CNAME dosyası
# Eğer kendi domain'iniz varsa, bu dosyanın içine domain adınızı yazın
# Örnek: www.bugraportfolio.com
# Şu an için bu dosya boş, GitHub Pages varsayılan URL'ini kullanacak
bugraozdemir.tech